<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>com.pip.lab4.Lab4 Lab4Service</servlet-name>
        <servlet-class>com.pip.lab4.server.Lab4ServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.pip.lab4.Lab4 Lab4Service</servlet-name>
        <url-pattern>/Lab4/Lab4Service</url-pattern>
    </servlet-mapping>
</web-app>